<strong>Olá, {{ organizer_name }}</strong>
<p>
  O usuário {{ user_name }} ({{ user_email }}) acabou de confirmar presença
  no meetup {{ meetup_title }} que acontecerá no {{ date }}.
</p>
<p>
  <small>
    Obrigado por utilizar nossa plataforma!
  </small>
</p>